@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "font-4";
  src: url(./assets/fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: "font-17";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "charm";
  src: url(./assets/fonts/Charm-Regular.ttf);
}






/*========== Font and typography ==========*/
$body-font: "Poppins", sans-serif;
$font-family_1: "Poppins Regular";
$font-family_2: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family_3: "Poppins SemiBold";
$font-2: "font-2", serif;
$font-4: "font-4", serif;
$font-17: "font-17", serif;
$charm: "charm";

/*.5rem = 8px | 1rem = 16px ...*/
$big-font-size: 3.5rem;
$h1-font-size: 2.25rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$normal-font-size: 1rem;
$small-font-size: 0.91rem;
$smaller-font-size: 0.813rem;
$tiny-font-size: 0.625rem;
$header-height: 3rem;

/*========== Font weight ==========*/
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;

/*========== Margenes Bottom ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;



/*========== Colors ==========*/

$title-color: #333333;
$title-color-dark: #000;
$text-color: #757575;
$body-color: #fafafa;
$container-color: #fff;
$overlay: #00000054;
$color_2: #5e3bee;
$color_3: #e62872;
$color_4: #1c1e53;
$color_5: #1DA1E5;
$color_8: aliceblue;
$color_9: #bae9ffb5;
$color_10: #E6EB2E;
$color_11: cornsilk;
$bg-shade: #f5fcff;
$background-color_1: hsla(0, 0%, 100%, 0.16);
$background-color_2: rgba(0, 0, 0, 0.2);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);


/* Global CSS */

* {
  outline: none;
  padding: 0;
  box-sizing: border-box;
}

.deco {
  background-color: $color_10;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: $font-2;
  $normal-font-size: 1rem;
  font-style: normal;
  @media screen and (max-width: 380px) {
   
  }
  @media screen and (max-width: 768px) {
    margin: 0 0 $header-height 0;
  }
}
/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
  $header-height: 3rem;

/* Responsive typography */
@media screen and (max-width: 992px) {
    $big-font-size: 2.75rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1rem;
    $normal-font-size: 0.938rem;
    $small-font-size: 0.813rem;
    $smaller-font-size: 0.75rem;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  background-color: $body-color;
  color: $title-color-dark;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: $h1-font-size;
  color: $title-color;
  text-transform: capitalize;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

// .grid {
//   display: grid;
//   gap: 1.5rem;
// }

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: $title-color;
  color: $container-color;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: $font-medium;
}

// .button:hover {
//   background-color: $title-color-dark;
// }

.button__icon {
  margin-left: $mb-0-5;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 $header-height 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: $mb-3;
  }
}

@media screen and (max-width: 576px) {}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    $big-font-size: 2.25rem;
  }

  .container {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }
}






